<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- ou seu CSS global -->
</head>
<body>
    {{{body}}}
</body>
</html>

