<link rel="stylesheet" href="/css/euSou.css">


<h2>Você está acessando como:</h2>

  <a class="btn" href="/entrar-recrutador"> Sou Recrutador</a>
  <a class="btn" href="/entrarCandidato">Sou Candidato</a>

</body>
</html>


